body {
  margin: 0;
  padding: 0;
  font-family: "Century Gothic", Courier, monospace;
  background:linear-gradient(to right, rgb(250, 128, 5), rgb(255, 0, 0));
  z-index: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
}
